---
interface Props {
  imgUrl: string
  alt?: string
  title: string
  description: string
  link: string
}

const { imgUrl, alt, title, description, link } = Astro.props
---

<a
  class="group w-[300px] h-[400px] rounded-md border border-primary bg-primary p-2 shadow-md transition hover:scale-105 hover:shadow-none"
  href={link}>
  <img src={imgUrl} alt={alt} class="h-[160px] w-full object-cover"/>
  <h3 class="font-title my-4">{title}</h3>
  
  <div class="flex flex-col justify-arround">
    <p class="font-text text-sm">{description}</p>
    <p class="transition group-hover:text-white group-hover:underline text-sm">
      Saiba Mais <span class="arrow">→</span>
    </p>
  </div>
</a>
